
body {
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
    background-color: white;
    font-family: "Roboto";

}

div {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
}

.header,
.body-sign-up {
    display: flex;
    background-color: #1f2937;
}

.header {
    font-size: 24px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: -10px;
    margin-bottom: 0px;
}

.header img {
    height: 48px;
    width: 48px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: normal;
    color: #F9FAF8;
    flex-basis: auto;
    font-weight: 700;
    margin-right: auto;
    margin-left: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    margin-right: 64px;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.body-sign-up {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
}

button {
    font-family: inherit;
    width: 75px;
    height: 25px;
    border-radius: 10px;
    border: none;
    /* box-shadow: 3px 3px 10px 1px gray; */
    font-size: 14px;
    font-weight: 300;
    background-color: #3882F6;
    color: white
}

.signup-img-holder {
    min-width: 400px;
    min-height: 200px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 300px;
    align-items: center;
    color: #F9FAF8;
    margin-left: 200px;
    margin-right: 250px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
    color: #F9FAF8;
}

button.signup {
    align-self: baseline;
    margin-bottom: 5px;
}