body {
    display: flex;
}

.header {
    display: flex;
    font-size: 24px;
    justify-content: flex-start;
    align-items: center;
}

.header img {
    height: 48px;
    width: 48px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid peachpuff;
    border-radius: 25px;
    outline: 1px solid black;
}